* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  height: 100vh;
  background: #f0c232;
}
html {
  font-size: 16px;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
.popup {
  background: #f0c232;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}
#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}
#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}
.popup.hide {
  display: none;
}


.back-button {
  position: fixed;
  top: 10px;
  left: 23px;
  z-index: 9999;
  font-size: 5.8em;
  color: #313030;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.back-button i {
  transition: transform 0.3s ease;
}
.back-button:hover i {
  transform: scale(1.2);
  color: #313030;
}
.logo {
  position: fixed;
  top: 10px;   /* Distância do topo da tela */
  right: 10px; /* Distância da borda direita */
  width: 180px; /* Largura da imagem */
  height: auto; /* Mantém a proporção da imagem */
  z-index: 1000; /* Garante que a logo fique acima de outros elementos */
}