@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", serif;
    text-align: center;
    background: url("/educapaghome/jogos/jogoscodigo/mario/marioimg/mario-bg.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;

    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("/educapaghome/jogos/jogoscodigo/mario/marioimg/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("/educapaghome/jogos/jogoscodigo/mario/marioimg/pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h2{
    font-family: "Nunito Sans", sans-serif;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 23px;
    z-index: 9999;
    font-size: 5.8em;
    color: #313030;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .back-button i {
    transition: transform 0.3s ease;
  }
  .back-button:hover i {
    transform: scale(1.2);
    color: #313030;
  }
  .logo {
    position: fixed;
    top: 10px;   /* Distância do topo da tela */
    right: 10px; /* Distância da borda direita */
    width: 180px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    z-index: 1000; /* Garante que a logo fique acima de outros elementos */
  }

  .reiniciar-link {
    text-decoration: none; /* Remove o sublinhado padrão do link */
  }
  
  /* Estiliza o botão dentro do link */
  .reiniciar-button {
    margin-top: 10px;
    margin-left: 30px;
    background-color: #131311; /* Cor de fundo do botão */
    color: white;
    font-size: 40px;              /* Cor do texto */
    padding: 10px 20px;        /* Padding para ajustar o tamanho */
    border: none;              /* Remove a borda do botão */
    border-radius: 5px;        /* Bordas arredondadas */
    font-size: 16px;           /* Tamanho da fonte */
    cursor: pointer;          /* Aponta o cursor como mãozinha */
    transition: background-color 0.3s ease; /* Efeito de transição */
  }
  
  /* Efeito de hover no botão */
  .reiniciar-button:hover {
    background-color: #747234; /* Cor mais escura quando o botão for hover */
  }