@import url('httpsL//fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    width: 100%;
}
.back-button {
    position: fixed;
    top: 10px;
    left: 23px;
    z-index: 9999;
    font-size: 5.8em;
    color: #313030;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .back-button i {
    transition: transform 0.3s ease;
  }
  .back-button:hover i {
    transform: scale(1.2);
    color: #313030;
  }
  .logo {
    position: fixed;
    top: 10px;   /* Distância do topo da tela */
    right: 10px; /* Distância da borda direita */
    width: 180px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    z-index: 1000; /* Garante que a logo fique acima de outros elementos */
  }

  .reiniciar-link {
    text-decoration: none; /* Remove o sublinhado padrão do link */
  }
  
  /* Estiliza o botão dentro do link */
  .reiniciar-button {
    margin-top: 10px;
    margin-left: 30px;
    background-color: #131311; /* Cor de fundo do botão */
    color: white;
    font-size: 40px;              /* Cor do texto */
    padding: 10px 20px;        /* Padding para ajustar o tamanho */
    border: none;              /* Remove a borda do botão */
    border-radius: 5px;        /* Bordas arredondadas */
    font-size: 16px;           /* Tamanho da fonte */
    cursor: pointer;          /* Aponta o cursor como mãozinha */
    transition: background-color 0.3s ease; /* Efeito de transição */
  }
  
  /* Efeito de hover no botão */
  .reiniciar-button:hover {
    background-color: #178f4d; /* Cor mais escura quando o botão for hover */
  }

  h1{
    color: #fff;
  }

  p{
    color: #fff;
  }